@model List<ProductResultWithCategoryDto>

@{
    ViewData["Title"] = "ProductListWithCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Products List</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product Name</th>
                                <th>Product Price</th>
                                <th>Product Category</th>
                                <th>Product Images</th>
                                <th>Description & Info</th>
                                <th>Delete</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.ProductName</td>
                                    <td>@item.ProductPrice.ToString("C2")</td>
                                    <td>@item.Category.CategoryName</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="ProductImage" asp-action="Index" asp-route-productId="@item.ProductId" class="btn btn-warning">Product Images</a>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="ProductDetail" asp-action="EditProductDetail" asp-route-productId="@item.ProductId" class="btn btn-info">Description & Info</a>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.ProductId" class="btn btn-success">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a asp-area="Admin" asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary">Add New Product</a>
                </div>
            </div>
        </div>
    </div>
</section>